@model NEMESYS.Models.ReportClass

@{
    ViewData["Title"] = "IndexView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>IndexView</h1>

<div>
    <h4>ReportClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HazardLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HazardLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HazardType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HazardType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HazardDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HazardDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HazardDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HazardDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReporterFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReporterFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReporterLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReporterLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReporterEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReporterEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReporterMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReporterMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HazardStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HazardStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HazardPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HazardPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HazardUpvotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HazardUpvotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReportID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
