@{
    ViewData["Title"] = "Edit User Reports";
}

<h1>Investigating Reports</h1>
<hr />
<div class="row">
@foreach (ReportClass report in Model)
{
    
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h3 class="card-title">@report.ReportTitle</h3>
                <p class="card-text">@report.HazardDescription</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a asp-route="editInvestigationStatusRoute" asp-route-id="@report.ReportID"
                        class="btn-primary btn-sm btn-outline-secondary">Edit Report Status</a>
                    </div>
                    <div class="btn-group">
                        <a asp-route="createInvestigationEntryRoute" asp-route-id="@report.ReportID"
                        class="btn-primary btn-sm btn-outline-secondary">Create Investigation Entry</a>
                    </div>
                    <small class="text-muted">@report.ReporterFirstName @report.ReporterLastName</small>
                </div>
            </div>
        </div>
    </div>    
}
</div>
